<footer class="site-footer">
    {% block footer_content %}
        <div class="ps-box-full site-footer-link">
            <div class="container">
                <div class="site-footer-link-content">
                    <a class="site-footer-link-item" href="https://kalbarprov.go.id/" target="_blank"
                        title="Pemerintah Provinsi Kalimantan Barat">
                        <img src="/images/logo-kalbar-text.png">
                    </a>
                    <a class="site-footer-link-item" href="https://data.go.id/" target="_blank" title="Satu Data Indonesia">
                        <img src="/images/logo-satu-data.png">
                    </a>
                    <a class="site-footer-link-item" href="https://kalbar.bps.go.id/" target="_blank" title="Portal Indonesia">
                        <img src="/images/logo-bps.png">
                    </a>
                    <a class="site-footer-link-item" href="https://ogi.bappenas.go.id" target="_blank"
                        title="Open Government Indonesia">
                        <img src="/images/logo-ogi.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="ps-box-full site-footer-address">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <div class="address-info">
                                    <strong>Diskominfo Kalbar</strong><br>
                                    Jalan Ahmad Yani Gedung Pelayanan Terpadu Lt. 6,<br>
                                    Kota Pontianak,<br>
                                    Kalimantan Barat 78124
                                    <br><br>
        
                                    <a href="mailto:diskominfo@kalbarprov.go.id"
                                        title="Hubungi kami melalui email">diskominfo@kalbarprov.go.id</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <ul class="others-link">
                                    <li>
                                        <a href="/blog" title="Informasi">Informasi</a>
                                    </li>
                                    <li>
                                        <a href="/showcase" title="Showcase">Showcase</a>
                                    </li>
                                    <li>
                                        <a href="/pages/syarat-ketentuan" title="Showcase">Syarat &amp; Ketentuan</a>
                                    </li>
                                    <li>
                                        <a href="/contact" title="Showcase">Hubungi Kami</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                                <ul class="others-link">
                                    <li>
                                        <a href="https://kalbarprov.go.id" title="Website Resmi Pemerintah Pemprov Kalbar"
                                            target="_blank">Pemprov Kalbar</a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Diskominfoprovkalbar"
                                            title="Facebook Diskominfo Kalbar" target="_blank">Facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/diskominfo.kalbar"
                                            title="Instagram Diskominfo Kalbar" target="_blank">Instagram</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/@DiskominfoProvKalbar"
                                            title="Youtube Diskominfo Kalbar" target="_blank">Youtube</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-box-full site-footer-copyright">
            <div class="site-footer-copyright-content">
                <div class="container">
                    <p>Copyright (c) 2019 Diskominfo Provinsi Kalbar</p>
                </div>
            </div>
        </div>
    {% endblock %}
</footer>